# Snowflake connection settings
# Template / Example
# You should have a similar .env file locally with your own credentials

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=CHURN_WH
SNOWFLAKE_DATABASE=CHURN_DB
SNOWFLAKE_SCHEMA=ANALYTICS
SNOWFLAKE_ROLE=